body {
    font-family: sans-serif;
    padding: 30px;
    background-image: url(../Pictures/catpage.jpg);
}

.doc {
    background-color:rgba(124, 216, 228, 0.904);
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    text-align: center;
}

.top-img {
    text-align: center;
}

/* FOOTER */

hr {
    height: 3px;
    background-color: rgb(43, 127, 138);
    border-color:  rgb(43, 127, 138);
}

footer {
    text-align: center;
    font-size: 14px;
}