body {
    font-family: sans-serif;
    padding: 30px;
    background-image: url(../Pictures/dogpage.avif);
}

.doc {
    background-color:rgba(216, 191, 162, 0.884);
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    text-align: center;
}

.top-img {
    text-align: center;
}

/* FOOTER */

hr {
    height: 3px;
    background-color: rgb(172, 142, 108);
    border-color: rgb(177, 151, 121);
}

footer {
    text-align: center;
    font-size: 14px;
}